@import "tailwindcss";

/* 💡 AJOUT OBLIGATOIRE : Dit à Tailwind d'analyser vos vues HTML */
@source "./app/**/*.{html,ts}";

@theme {
  --color-deba-dark: #0A2540;   
  --color-deba-steel: #486581;  
  --color-deba-light: #D9E2EC;  
  --color-deba-bg: #F0F4F8;     
}
